<nb-layout>
  <nb-layout-header></nb-layout-header>
  <nb-layout-footer></nb-layout-footer>
  <nb-layout-column>  <nb-tabset>
    <nb-tab tabTitle="Rozgrzewka">
      <app-warm-up></app-warm-up>
    </nb-tab>
    <nb-tab tabTitle="Daty">
      <app-dates></app-dates>
    </nb-tab>
    <nb-tab tabTitle="Koordynaty">
      <app-mouse-move></app-mouse-move>
    </nb-tab>
    <nb-tab tabTitle="SearchBox">
      <app-search-box></app-search-box>
    </nb-tab>
   </nb-tabset>
  </nb-layout-column>
 </nb-layout>